.aside{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0 , 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition:  .3s;

}

.nav_link{
    font-size: 1.3rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
} 
.nav_link:hover{
    color: hsl(43, 100%, 68%);

}

.copyright{
    color: hsl(245, 15%, 65%);
    font-size: 20px;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;

}

.icon-menu{
    margin-top: 100px;    
}
.menu i {
  
  display: none;
}
.dark-mode{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 50px;
    
}

@media screen and (max-width:1000px) {
    .aside{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        position: relative;
        
    }
    .menu i{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        height: auto;
        width: 20px;
      

    }
}


.nav_menu_dis{
    margin-top: 20px;
    background-color: var( --container-color);
    /* backdrop-filter: blur(1.5rem) ; */
    width: 100%;
    border-radius: 1.875rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    box-shadow: var(--shadow);
    position: absolute;
    z-index: 1;
    height: auto;
}

.nav_menu_dis .nav_list{
    padding: 40px 40px;
}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .menu_container{
    position: fixed;
} */


.nav_logo svg{
    color: var(--first-color);
    border: var(--first-color) solid ;
    border-radius: 50% 50%;
    width: 60px;
    height: 60px;
}